.gradient-background-1 {
    background: linear-gradient(to right, rgb(120, 8, 181), rgb(43, 43, 234));
  }
  .gradient-background-2 {
    background: linear-gradient(to right, rgb(181, 170, 8), rgb(220, 25, 25));
  }
  .gradient-background-3 {
    background: linear-gradient(to right, rgb(28, 181, 8), rgb(43, 234, 116));
  }
  .gradient-background-4 {
    background: linear-gradient(to right, rgb(167, 8, 181), rgb(234, 43, 180));
  }

  .gradient-background-4 {
    background: linear-gradient(to right, rgb(154, 169, 231), rgb(75, 75, 226));
  }

  h4,h2 {
    color:white;
  }